@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    background: #92d39a;
    font-family: 'Roboto', sans-serif;
}

.app {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);

    min-height: 50vh;
    min-width: 50%;


}

.input-group {
    max-width: 250px;
    position: relative;
    left: 35%;
}

.taskTable {
    display: flex;
    justify-content: space-around;
}

.pending {
    width: 200px;

    border-radius: 50px;
    background: #92d39a;
    box-shadow: 17px 17px 34px #72a578,
        -17px -17px 34px #b2ffbc;

    min-height: 50vh;
    min-width: 50%;

}

.headline {
    margin-left: 40%;
    max-width: 10px;
}

.completed {
    min-width: 180px;

    border-radius: 50px;
    background: #92d39a;
    box-shadow: 17px 17px 34px #72a578,
        -17px -17px 34px #b2ffbc;

    min-height: 50vh;
    min-width: 50%;

}

.task {
    font-weight: bold;
    font-size: large;
}

.taskTabel {
    display: flex;
}