@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    background: #c9c8e0;
    font-family: 'Roboto', sans-serif;
}

.app {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);

    min-height: 50vh;
    min-width: 50%;


}

.input-group {
    max-width: 250px;
    position: relative;
    left: 30%;
}

.taskTable {
    display: flex;
    justify-content: space-around;
}

.pending {
    width: 200px;

    border-radius: 50px;
    background: #c9c8e0;
    box-shadow: 20px 20px 60px #abaabe,
        -20px -20px 60px #e7e6ff;

    min-height: 50vh;
    min-width: 50%;

}

.headline {
    margin-left: 40%;
    max-width: 10px;
}

.completed {
    min-width: 180px;

    border-radius: 50px;
    background: #c9c8e0;
    box-shadow: 20px 20px 60px #abaabe,
        -20px -20px 60px #e7e6ff;

    min-height: 50vh;
    min-width: 50%;

}

.task {
    font-weight: bold;
    font-size: large;
    max-width: 200px;
}


.testimonial_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-trigger {
    cursor: pointer;
}

.taskTabel {
    display: flex;
}

.check-box,
.delete {
    cursor: pointer;
}

.error {
    margin-left: 250px;
}